{% extends "base.html" %}
{% block title %}{{ book.title }}{% endblock %}
{% block breadcrumbs %}
  <h1 class="pull-left">{{ book.title }}</h1>
  <ul class="pull-right breadcrumb">
      <li><a href="">Home</a></li>
      <li><a href="">Books</a></li>
      <li class="active">{{ book.title }}</li>
  </ul>
{% endblock %}
{% block content %}
  <!-- Cover -->
  <div id="cover">
    <div id="inner-cover">
      <p id="cover-img"><img class="img-thumbnail" src="{{ book.image }}"></p>
      <div id="cover-content">
        <h2 class="hidden-xs hidden-sm">{{ book.title }}</h2>
        <h3 class="hidden-xs hidden-sm">{{ book.author }}</h3>
        <div class="rating">
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>

        <div id="rate_graph">
          <p class="number pull-left">8.3</p>
          <div class="right">
            <ul class="list-inline">
              <li style="height:5%;"></li>
              <li style="height:10%;"></li>
              <li style="height:15%;"></li>
              <li style="height:20%;"></li>
              <li style="height:25%;"></li>
              <li style="height:30%;"></li>
              <li style="height:50%;"></li>
              <li style="height:45%;"></li>
              <li style="height:25%;"></li>
              <li style="height:15%;"></li>
            </ul>
            <p class="stat">103<span class="glyphicon glyphicon-star"></span> 509<span class="glyphicon glyphicon-heart"></span> 47<span class="glyphicon glyphicon-ok"></span></p>
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="book_button">
          <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Envi de le lire"><span class="glyphicon glyphicon-bookmark"></span> </a>
          <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Coup de coeur"><span class="glyphicon glyphicon-heart"></span></a>
          <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Je l'ai lu"><span class="glyphicon glyphicon-ok"></span></a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Cover -->

  <div class="container" id="content">
    <div id="infobox" class="col-md-4 col-md-push-8">
      <div class="panel panel-default">
        <div class="panel-heading">{{ book.title }}</div>
        <div class="panel-body">
          <table>
            <tr>
              <td><strong>Auteur</strong></td>
              <td>{{ book.author }}</td>
            </tr>
            <tr>
              <td><strong>Genre</strong></td>
              <td>
                {% for g in book.genre.all %}
                  {{ g.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
          </table>
          <hr/>
          {% if book.translation_name %}
            <table>
              <tr>
                <td class="text-center" colspan="2"><strong>Version originale</strong></td>
              </tr>
              <tr>
                <td><strong>Titre original</strong></td>
                <td>{{ book.title }}</td>
              </tr>
              <tr>
                <td><strong>Éditeur original</strong></td>
                <td>{{ book.publisher }}</td>
              </tr>
              <tr>
                <td><strong>Langue originale</strong></td>
                <td>{{ book.language }}</td>
              </tr>
              <tr>
                <td><strong>Pays d'origine</strong></td>
                <td>{{ book.country }}</td>
              </tr>
              <tr>
                <td><strong>Lieu de parution original</strong></td>
                <td>{{ book.place_published }}</td>
              </tr>
              {% if book.collection %}
                <tr>
                  <td><strong>Collection</strong></td>
                  <td>{{ book.collection }}</td>
                </tr>
              {% endif %}
              <tr>
                <td><strong>Date de parution originale</strong></td>
                <td>{{ book.date }}</td>
              </tr>
            </table>
            <hr/>
            <table>
              <tr>
                <td class="text-center" colspan="2"><strong>Version française</strong></td>
              </tr>
              <tr>
                <td><strong>Traducteur</strong></td>
                <td>{{ book.translation_name }}</td>
              </tr>
              <tr>
                <td><strong>Lieu de parution</strong></td>
                <td>{{ book.translation_place_publisher }}</td>
              </tr>
              <tr>
                <td><strong>Éditeur</strong></td>
                <td>{{ book.publisher }}</td>
              </tr>
              {% if book.collection %}
                <tr>
                  <td><strong>Collection</strong></td>
                  <td>{{ book.translation_collection }}</td>
                </tr>
              {% endif %}
              <tr>
                <td><strong>Date de parution</strong></td>
                <td>{{ book.translation_date }}</td>
              </tr>
              <tr>
                <td><strong>ISBN</strong></td>
                <td>{{ book.isbn }}</td>
              </tr>
              {% if book.series %}
                <tr>
                  <td><strong>Série</strong></td>
                  <td>{{ book.series }}</td>
                </tr>
              {% endif %}
            </table>
          {% else %}
            <table>
              <tr>
                <td><strong>Éditeur</strong></td>
                <td>{{ book.publisher }}</td>
              </tr>
              <tr>
                <td><strong>Langue</strong></td>
                <td>{{ book.language }}</td>
              </tr>
              <tr>
                <td><strong>Pays d'origine</strong></td>
                <td>{{ book.country }}</td>
              </tr>
              <tr>
                <td><strong>Lieu de parution</strong></td>
                <td>{{ book.place_published }}</td>
              </tr>
              {% if book.collection %}
                <tr>
                  <td><strong>Collection</strong></td>
                  <td>{{ book.collection }}</td>
                </tr>
              {% endif %}
              <tr>
                <td><strong>Date de parution</strong></td>
                <td>{{ book.date }}</td>
              </tr>
              <tr>
                <td><strong>ISBN</strong></td>
                <td>{{ book.isbn }}</td>
              </tr>
              {% if book.series %}
                <tr>
                  <td><strong>Série</strong></td>
                  <td>{{ book.series }}</td>
                </tr>
              {% endif %}
            </table>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-8 col-md-pull-4">
      <h2>Résumé</h2>
      <p>{{ book.synopsis }}</p>

      <h2>Critiques</h2>

      <form id="comment_form">
        <textarea></textarea>

        <div id="rate_send">
          <div class="rating">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
          <button type="submit" class="btn btn-success green"><i class="fa fa-send"></i> Poster</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
